@page "/Teste"

<PageTitle>Testes</PageTitle>
<h3>Teste</h3>

Dormir é bom

<img src="https://inovaveterinaria.com.br/wp-content/uploads/2015/04/gato-sem-raca-INOVA-1024x683.jpg" />
@code {

}
